#app {
  font-size: 14px;
  color: #767676;
  min-width: 550px;
  max-width: 850px;
  margin: 0 auto;
}

a.active {
  color: orange;
}

nav {
  padding-top: 20px;
}

.flexcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
  padding: 0 5px;
  margin: 0 !important;
}
